@font-face {
	font-family: "Urbanist";
	src: url("../public/fonts/Urbanist-Black.ttf"),
		url("../public/fonts/Urbanist-BlackItalic.ttf"),
		url("../public/fonts/Urbanist-Bold.ttf"),
		url("../public/fonts/Urbanist-BoldItalic.ttf"),
		url("../public/fonts/Urbanist-ExtraBold.ttf"),
		url("../public/fonts/Urbanist-ExtraBoldItalic.ttf"),
		url("../public/fonts/Urbanist-ExtraLightItalic.ttf"),
		url("../public/fonts/Urbanist-ExtraLight.ttf"),
		url("../public/fonts/Urbanist-Italic-VariableFont_wght.ttf"),
		url("../public/fonts/Urbanist-Italic.ttf"),
		url("../public/fonts/Urbanist-Light.ttf"),
		url("../public/fonts/Urbanist-LightItalic.ttf");
}

@font-face {
	font-family: "Porshe";
	src: url("../public/fonts/Porsche Regular_0.ttf");
}

@font-face {
	font-family: "Lord";
	src: url("../public/fonts/Lordcorps.ttf");
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.header {
	z-index: 2;
	flex-direction: column;
	display: flex;
	position: fixed;
	color: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.753),
		rgba(35, 83, 206, 0.329),
		rgba(87, 112, 176, 0)
	);

	width: 100%;
	height: 20vh;

	.stuctureHeader {
		display: flex;
		padding-left: 5vh;
		padding-right: 5vh;
		height: auto;
	}

	a {
		text-decoration: none;
	}
	h1 {
		color: #ffffff;
		font-size: 12vh;
		margin: 0;
		font-family: "Urbanist";
		text-decoration: none;
		text-shadow: 5px 5px 20px #455dc9;
		animation: blink-animation 0.1s infinite;
	}
	@keyframes blink-animation {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0.85;
		}

		100% {
			opacity: 1;
		}
	}
	.contact {
		display: flex;
		width: 110px;
		justify-content: space-between;
	}

	.containerAch {
		width: 85%;
		display: flex;
		justify-content: space-between;
		padding: auto;
		font-family: "Lord";
		letter-spacing: 0.05rem;
		a {
			font-size: 1.1vw;
			color: #ffffff;
			text-decoration: none;
			transition: color 0.2s ease-in-out, text-transform 0.2s ease-in-out,
				font-size 0.2s ease-in-out;
		}

		.active {
			color: #c94594;
			text-shadow: 5px 5px 20px rgb(126, 33, 49);
			text-transform: uppercase;
			font-size: 1.3vw;
			stroke-width: 400;
		}
		:hover {
			color: #c94594;
			text-shadow: 5px 5px 20px rgb(126, 33, 49);
			text-transform: uppercase;
			font-size: 1.3vw;
			stroke-width: 400;
		}
	}
	.containerAch2 {
		width: 90%;
		display: flex;
		justify-content: space-around;
		font-family: "Lord";
		a {
			max-width: 350px;
			font-size: 1.1vw;
			text-align: center;
			color: #ffffff;
			text-decoration: none;
			transition: color 0.2s ease-in-out, text-transform 0.2s ease-in-out,
				font-size 0.2s ease-in-out;
		}
		.active {
			color: #c94594;
			text-shadow: 5px 5px 20px rgb(126, 33, 49);
			text-transform: uppercase;
			font-size: 1.2vw;
			stroke-width: 400;
		}
		:hover {
			color: #c94594;
			text-shadow: 5px 5px 20px rgb(126, 33, 49);
			text-transform: uppercase;
			font-size: 1.3vw;
			stroke-width: 400;
		}
	}
}

.mainpage {
	height: 100vh;
	width: 100%;
	background-image: url("../public/img/BMW-M5-F90-LCI-facelift-2020.jpg");
	background-repeat: no-repeat;
	background-size: cover; /* This line ensures the image covers the entire container, cropping as needed */
	background-position: center; /* This line centers the image within the container */
	display: flex;
	justify-content: center;
	align-items: center;
	position: static;
	.centerBox {
		backdrop-filter: blur(1px);
		flex-direction: column;
		text-align: center;
		position: absolute;
		display: flex;
		color: azure;
		width: 80%;
		height: 45vh;
		background: linear-gradient(
			180deg,
			rgba(0, 117, 255, 0.2),
			rgba(13, 51, 147, 0.2),
			rgba(87, 112, 176, 0)
		);
		justify-content: center;
		align-items: center;
		border-radius: 35px;
		justify-content: flex-start;
		h1 {
			font-family: "Porshe";
			display: flex;
			align-items: center;
			font-size: 57px;
			flex-grow: 3;
			text-shadow: 5px 5px 20px #c94594;
			// animation: blink-animation 0.1s infinite;
		}
		@keyframes blink-animation {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0.85;
			}

			100% {
				opacity: 1;
			}
		}
		p {
			margin-top: 15px;
			top: 1;
			font-size: 18px;
			font-weight: lighter;
			text-shadow: 5px 5px 20px #c94594;
		}
	}
}

.firstPageTAG {
	height: 100vh;
	width: 100%;
	background-image: url("../public/img/BMW-M5-F90-LCI-facelift-2020.jpg");
	background-repeat: no-repeat;
	background-size: cover; /* This line ensures the image covers the entire container, cropping as needed */
	background-position: center; /* This line centers the image within the container */
	display: flex;
	justify-content: left;
	align-items: center;
	position: static;
	.firstPageBox {
		backdrop-filter: blur(10px);
		flex-direction: row;
		text-align: left;
		position: absolute;
		display: flex;
		color: azure;
		width: 70%;
		height: 45vh;
		background: linear-gradient(
			180deg,
			rgba(0, 117, 255, 0.2),
			rgba(13, 51, 147, 0.2),
			rgba(87, 112, 176, 0)
		);

		border-radius: 0 35px 35px 0;
		justify-content: flex-start;
		padding: 20px;
		.content {
			display: flex;
			flex-direction: column;
			color: #fafafa;
		}
		h1 {
			margin: 0;
			margin-top: 20px;
			font-size: 52px;
		}
		p {
			font-size: 18px;
			display: grid;
			grid-template-columns: 80%;
			
		}
		button {
			position: absolute;
			top: 78%;
			left: 81%;
			height: 35px;
			width: 150px;
			border-radius: 10px;
			backdrop-filter: blur(2px);
			background: rgba(0, 0, 0, 0.616);
			border: 0px;
			font-size: 18px;
			color: #fafafa;
		}
	}
}

.secondPageTag {
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	margin-top: 5%;
	.boxContainer{
		padding-inline: 20px;
		
		display: flex;
		color: white;

		backdrop-filter: blur(2px);
		background: rgba(0, 0, 0, 0.616);

		justify-content: center;
		.textConteiner {
		
			width: 85%;
			padding-left: 40px;
		}
		h1 {
			font-size: 32px;
		}
		p {
			color: #ffffff;
			width: 90%;
			font-size: 20px;
			
		}
		li {
			color: #ffffff;
			width: 60%;
			font-size: 20px;
			margin-block: 20px;
			li::first-letter{
				font-size: bold;
			}
		}
	}
}

.secondpage {
	flex-direction: column;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: linear-gradient(45deg, #ffffff, #ffffff);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 0s ease infinite;
	-moz-animation: AnimationName 0s ease infinite;
	-o-animation: AnimationName 0s ease infinite;
	animation: AnimationName 0s ease infinite;

	.pageSlice {
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			font-family: "Porshe";
			font-size: 40px;
		}
	}
}

.thirdpage {
	height: 100vh;
	width: 100%;
	background-image: url("../public/img/audir8.jpeg");
	background-repeat: no-repeat;
	background-size: cover; /* This line ensures the image covers the entire container, cropping as needed */
	background-position: center; /* This line centers the image within the container */
	display: flex;
	position: relative;

	.Box {
		position: absolute;
		top: 20%;
		left: 140px;
		width: 50%;
		padding-inline: 20px;
		flex-direction: column;
		display: flex;
		color: white;
		border-radius: 20px;
		backdrop-filter: blur(2px);
		background: rgba(0, 0, 0, 0.616);

		justify-content: flex-start;
		h1 {
			font-family: "Porshe";
			font-size: 50px;
			text-wrap: wrap;
		}
		p {
			font-size: large;
		}
	}
}

.LastPagepage {
	height: 100vh;
	width: 100%;
	.CallBackBlock {
		width: 100%;
		height: 70vh;
		background-image: url("../public/img/jaguar.png");
		background-repeat: no-repeat;
		background-size: cover; /* This line ensures the image covers the entire container, cropping as needed */
		background-position: center; /* This line centers the image within the container */
		display: flex;
		position: relative;
		.flex-box {
			margin-top: 100px;
		}
		.LastBox {
			position: absolute;
			left: 60%;
			width: 30%;
			height: 100%;
			padding-inline: 20px;
			flex-direction: column;
			display: flex;
			color: white;
			backdrop-filter: blur(2px);
			background: rgba(0, 0, 0, 0.616);
			justify-content: center;
			align-items: center;
			z-index: 1000;
			h1 {
				text-align: center;
				font-size: 40px;
			}
			.form__group {
				margin-top: 20px;
				z-index: 10;
				position: relative;
				padding: 20px 0 0;
				width: 100%;
				max-width: 350px;
			}

			.form__field {
				font-family: inherit;
				width: 100%;
				border: none;
				border-bottom: 2px solid #9b9b9b;
				outline: 0;
				font-size: 17px;
				color: #fff;
				padding: 7px 0;
				background: transparent;
				transition: border-color 0.2s;
			}

			.form__field::placeholder {
				color: transparent;
			}

			.form__field:placeholder-shown ~ .form__label {
				font-size: 17px;
				cursor: text;
				top: 20px;
			}

			.form__label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 17px;
				color: #9b9b9b;
				pointer-events: none;
			}

			.form__field:focus {
				padding-bottom: 6px;
				font-weight: 700;
				border-width: 3px;
				border-image: linear-gradient(to right, #116399, #38caef);
				border-image-slice: 1;
			}

			.form__field:focus ~ .form__label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 17px;
				color: #38caef;
				font-weight: 700;
			}

			/* reset input */
			.form__field:required,
			.form__field:invalid {
				box-shadow: none;
			}
			.btn {
				margin-top: 30px;
				--border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
				--border-width: 0.125em;
				--curve-size: 0.5em;
				--blur: 30px;
				--bg: #080312;
				--color: #afffff;
				color: var(--color);
				/* use position: relative; so that BG is only for .btn */
				position: relative;
				isolation: isolate;
				display: inline-grid;
				place-content: center;
				padding: 0.5em 5.5em;
				font-size: 19px;
				border: 0;
				text-transform: uppercase;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
				clip-path: polygon(
					/* Top-left */ 0% var(--curve-size),
					var(--curve-size) 0,
					/* top-right */ 100% 0,
					100% calc(100% - var(--curve-size)),
					/* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
					/* bottom-right 2 */ 0 100%
				);
				transition: color 250ms;
			}

			.btn::after,
			.btn::before {
				content: "";
				position: absolute;
				inset: 0;
			}

			.btn::before {
				background: var(--border-color);
				background-size: 300% 300%;
				animation: move-bg7234 5s ease infinite;
				z-index: -2;
			}

			@keyframes move-bg7234 {
				0% {
					background-position: 31% 0%;
				}

				50% {
					background-position: 70% 100%;
				}

				100% {
					background-position: 31% 0%;
				}
			}

			.btn::after {
				background: var(--bg);
				z-index: -1;
				clip-path: polygon(
					/* Top-left */ var(--border-width)
						calc(var(--curve-size) + var(--border-width) * 0.5),
					calc(var(--curve-size) + var(--border-width) * 0.5)
						var(--border-width),
					/* top-right */ calc(100% - var(--border-width)) var(--border-width),
					calc(100% - var(--border-width))
						calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
					/* bottom-right 1 */
						calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
						calc(100% - var(--border-width)),
					/* bottom-right 2 */ var(--border-width)
						calc(100% - var(--border-width))
				);
				transition: clip-path 500ms;
			}

			.btn:where(:hover, :focus)::after {
				clip-path: polygon(
					/* Top-left */ calc(100% - var(--border-width))
						calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
					calc(100% - var(--border-width)) var(--border-width),
					/* top-right */ calc(100% - var(--border-width)) var(--border-width),
					calc(100% - var(--border-width))
						calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
					/* bottom-right 1 */
						calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
						calc(100% - var(--border-width)),
					/* bottom-right 2 */
						calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
						calc(100% - var(--border-width))
				);
				transition: 200ms;
			}

			.btn:where(:hover, :focus) {
				color: #fff;
			}
		}
	}
	.footer {
		width: 100%;
		height: 30vh;
		background-image: url("../public/img/HotRods.jpg");
		background-repeat: no-repeat;
		background-size: cover; /* This line ensures the image covers the entire container, cropping as needed */
		background-position: center; /* This line centers the image within the container */
		display: flex;
		position: relative;
		.Box {
			position: absolute;
			backdrop-filter: blur(2px);
			background: rgba(0, 0, 0, 0.575);
			width: 100%;
			height: 100%;
			.textBox {
				color: #ffffff;
				padding-inline: 15%;
				.conteinerFoot {
					ul {
						padding-inline-start: 0;
						li {
							list-style-type: none;
						}
					}
				}
			}
		}
	}
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 88%;
	}
	50% {
		background-position: 100% 13%;
	}
	100% {
		background-position: 0% 88%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 88%;
	}
	50% {
		background-position: 100% 13%;
	}
	100% {
		background-position: 0% 88%;
	}
}
@-o-keyframes AnimationName {
	0% {
		background-position: 0% 88%;
	}
	50% {
		background-position: 100% 13%;
	}
	100% {
		background-position: 0% 88%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 88%;
	}
	50% {
		background-position: 100% 13%;
	}
	100% {
		background-position: 0% 88%;
	}
}

.image-container {
	position: relative;
	right: -100%;
	transition: right 2s ease;
}

.image-container.show {
	right: -10%;
}
.image-container::before {
	right: 100%;
}
.line {
	position: absolute;
	width: 2px;
	border-left: 2px dashed #7468e0;
	opacity: 0;
	transition: opacity 3.5s ease;
	div {
		position: absolute;
		background-color: #455dc9;
		transform: translateX(-50%);
		height: 45px;
		width: 260px;
		text-align: center;
		border-radius: 20px;
		color: #ffffff;
		h2 {
			font-family: "Porshe";
			font-size: medium;
			letter-spacing: 0.2rem;
		}
		.h22 {
			transform: translateY(-20%);
		}
	}
}

.line.show {
	opacity: 1;
}

.line1 {
	left: 10%;
	top: 100px;
	height: 40%;
	transition-delay: 0.4s;
	width: 100px;
}

.line2 {
	top: 50px;
	left: 30%;
	height: 50%;
	transition-delay: 0.6s;
}

.line3 {
	top: 40px;
	left: 50%;
	height: 50%;
	transition-delay: 0.8s;
}

.line4 {
	top: 60px;
	left: 70%;
	height: 40%;
	transition-delay: 1s;
}
.line::after {
	content: ""; /* Пустой элемент для точки */
	position: absolute;
	width: 15px; /* Ширина точки */
	height: 15px; /* Высота точки */
	background-color: #7468e0; /* Цвет точки */
	border-radius: 50%; /* Делаем точку круглой */
	left: 0; /* Располагаем точку в конце линии */
	top: 100%; /* Смещаем точку вниз на 100% высоты линии */
	transform: translateX(-50%); /* Центрируем точку по горизонтали */
}
